<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Ijpie</title>
        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/font-icons/fontello.css" rel="stylesheet" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <script src="~/Scripts/scripts.js"></script>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><a href="~/">Ijpie</a></p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li><a href="#home-tab" class="selected-tab">Home</a></li>
                            <li><a href="#product-tab">Product</a></li>
                            <li><a href="#about-tab">About</a></li>
                            <li><a href="#contact-tab">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            <section class="main-content clear-fix">
                <div id="home-tab">
                    @RenderSection("featured", required: false)
                    @RenderBody()
                </div>
                <div id="product-tab">
                    @RenderPage("~/Product.cshtml");
                </div>
                <div id="about-tab">
                    @RenderPage("~/About.cshtml")
                </div>
                <div id="contact-tab">
                    @RenderPage("~/Contact.cshtml")
                </div>
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year Ijepai</p>
                </div>
            </div>
        </footer>
        @RenderSection("Scripts", required: false)
    </body>
</html>